:root {
  --main-bg-color: pink;
  --specific-border: 2px solid red;
}

body {
  background: var(--main-bg-color);
  margin: 0;
}

figure {
  margin: 0;
}

ul.grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 150px));
  grid-gap: 20px;
}

ul.grid figure {
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

ul.grid img {
  max-width: 100%;
}
